.container {
	/* background-color: black; */
	width: 20rem;
	margin-top: 3rem;
	margin-left: 2rem;
	box-shadow: 0 0 40px 0 rgb(70, 70, 255);
	font-size: 1.25rem;
	padding: 1rem 2rem;
	border-radius: 15px;
}

.todoList {
	width: 100%;
	text-align: start;
}
